@import "bootstrap-sass/lib/bootstrap";

//$FontAwesomePath: "/bower_components/font-awesome/fonts";
$fa-font-path: "../bower_components/font-awesome/fonts";

@import "font-awesome/scss/font-awesome";
/* Put your CSS here */
/*html, body {
  margin: 20px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
} */


.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

html,body {
  height: 100%;
  width: 100%;
  background-color: #e8fcf4;
}
.full-height{
  min-height: 100%;
  height: 100% ;
  margin: 0;

}
.right-menu{
  background-color: #28bd93;
  height: 50%;
  /*overflow-y: auto;*/
}

.left-menu{
  background-color: #28bd93;
  //background-color: #4b6163;
  /*background-image: url("images/textured_paper.png");*/
  height: 50%;
  /*color: #8699a4;*/

}
.white-font{
  color: white;
}

.active-list-item{
  background-color: #333333;
}

.list-unstyled li a{
  color: white;
}

.list-unstyled li a:hover{
  background-color: #101010;
  color: #333;
}
.list-item:first-of-type{
  margin: 0px;
}
.list-item{
  margin-left: 4%;
}
.list-sub-item{
  margin-left: 8%;
}
nav{
  background-color: teal!important;
  //background-color: #25ad87!important;
}
nav p{
  color: white!important;
}
nav p a {
  color: white!important;
}
.main-content{
}

.item-option{
  background-color: lightseagreen;
}

.presence-img{
  max-height: 30px;
}
.no-padding{
  padding: 0!important;
}
.no-margin{
  margin: 0!important;
}
.lateral-margin{
  margin: 0 2% 0 2%;
}
.available{
  border-color: limegreen;
  border-bottom-width: 5px!important;
  border-style: inset;
}
.busy{
  border-color: indianred;
  border-bottom-width: 5px!important;
  border-style: inset;
}
.away{
  border-color: yellow;
  border-bottom-width: 5px!important;
  border-style: inset;
}
.offline{
  border-color: lightgray;
  border-bottom-width: 5px!important;
  border-style: inset;
}
.contact-card{
  //padding-top: 5%!important;
  //padding-bottom: 5%;
  padding-top: 0%!important;
  padding-bottom: 0%;
  margin: 0px;
  background-color: rgb(125, 207, 109);
  margin: 5px;
  border-radius: 4px;
}
.contact-list{
  height: 88%;
  overflow-y: auto;
  padding-top: 2%;
}
.contact-header{
  height: 12%;
}
table tbody tr:hover{
  cursor: pointer;
}

.nav, .pagination, .carousel a { cursor: pointer; }

.localStream{
  border-radius: 25px;
  position: absolute;
  height: 25%;
}
.video-top-bar{
  width: inherit;
  position: absolute;
  color: white;
  font-size: large;

}
.video-bottom-bar{
  position: absolute;
  margin-top: -45px;
  width: inherit;
}

.video-height{
  width: inherit;
  height: inherit;
}

.hide-border{
  display: none;
  //border-style: dashed;
}
