<div class="row text-center no-margin no-padding" ng-repeat="contact in list" >
    <div class="container" style="background-color: #f5f5f5;">
        <div class="col-md-3">
            <img height="100px" ng-src="http://localhost:8080/v2b/resources/img/{{contact.thumbnail}}">
        </div>
        <div class="col-md-9">
            <h4>{{contact.name}} {{contact.middlename}} {{contact.surname}}</h4>
            <h5>{{contact.username}}</h5>
            <button class="btn btn-default" ng-click="requestFriendship(contact)"> Add Contact</button>
        </div>
    </h5>
    <br/>
</div>
</div>
