<div>
    <div drop style="width: 100%;height:500px">
        <input ng-model="rcv.username">
        <button ng-click="sendIt()">Envia!</button>

        <display class="pull-right" height="120" width="160" stream="localStream" muted></display>
        <display ng-repeat="stream in remoteStreams" width="{{640/remoteStreams.length}}" height={{480/remoteStreams.length}} contact="getPeerContact(stream.user)" stream="stream" menu></display>
            <!--<div class="text-center" style="border-style: dashed;width: 100%; height: 200px; position: absolute">-->
        <p class="text-center">Drag another user to make a multi-conference</p>
            <!--</div>-->


    </div>
</div>