<div class="container">
    <h3>Safata d'entrada</h3>
    <div class="col-md-5 input-group no-padding pull-right">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input type="text" class="form-control" placeholder="Filtra per Emissor">
    </div>
    <button type="button" ng-click="openModal()"></button>
    <table class="table table-hover" droppable>
        <thead>
        <tr>
            <th>Emissor</th>
            <th>Subject</th>
            <th>Data</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Xavier Lagunas Calpe</td>
            <td>Subject del correu enviat</td>
            <td>08/10/13 13:32</td>
        </tr>
        <tr>
            <td>Xavier Lagunas Calpe</td>
            <td>Subject del correu enviat</td>
            <td>08/10/13 13:32</td>
        </tr>
        <tr>
            <td>Xavier Lagunas Calpe</td>
            <td>Subject del correu enviat</td>
            <td>08/10/13 13:32</td>
        </tr>
        <tr>
            <td>Xavier Lagunas Calpe</td>
            <td>Subject del correu enviat</td>
            <td>08/10/13 13:32</td>
        </tr>
        <tr>
            <td>Xavier Lagunas Calpe</td>
            <td>Subject del correu enviat</td>
            <td>08/10/13 13:32</td>
        </tr>
        <tr>
            <td>Xavier Lagunas Calpe</td>
            <td>Subject del correu enviat</td>
            <td>08/10/13 13:32</td>
        </tr>
        </tbody>
    </table>
</div>